<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- use appSetting to configure MSMQ queue name -->
    <add key="personQueueName" value=".\private$\SystemSimulationQueue2" />
    <add key="baseAddress" value="http://localhost:8000/WcfServiceReadSecondQueue/Service" />
  </appSettings>
  <system.serviceModel>
    <services>
      <service
        name="WcfServiceReadSecondQueue.PersonService" >
        <endpoint address="msmq.formatname:DIRECT=OS:.\private$\SystemSimulationQueue2"
                                binding="msmqIntegrationBinding"
                  bindingConfiguration="PersonProcessorBinding"
                  contract="WcfServiceReadSecondQueue.IPersonService">
        </endpoint>
      </service>
    </services>

    <bindings>
      <msmqIntegrationBinding>
        <binding name="PersonProcessorBinding" exactlyOnce="false">
          <security mode="None" />
        </binding>
      </msmqIntegrationBinding>
    </bindings>

  </system.serviceModel >
</configuration>